Repository nodejs/security-wg, pull requests merged in 2019-07, with the labels that each got.

#547 chore(member): add karen yavine shemesh as new member
  README.md
  processes/third_party_vuln_process.md
Labels: member

#554 Clarify Triage team membership
  README.md
  processes/third_party_vuln_process.md
Labels: process

#549 docs(processes): upper vulnerable version policy
  processes/third_party_vuln_process.md
Labels: process

#548 docs(readme): update bug bounty section new rewards
  README.md
Labels: DOCS

#557 docs(process): add hackerone staff contact
  processes/third_party_vuln_process.md
Labels: process

#553 Correct semver range on vuln 457
  vuln/npm/457.json
Labels: vulnerabilities

#559 process: do not confuse security team and wg
  processes/wg_offboarding.md
  processes/wg_onboarding.md
Labels: process

#560 process: correct Ben Noordhuis membership
  processes/security_team_members.md
Labels: member

#563 docs(processes): added karen as member
  processes/third_party_vuln_process.md
Labels: member

#565 docs(meetings): agenda meeting for July
  meetings/2019-07-15.md
Labels: process
